<div class="alert alert-dark border border-0 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="alert alert-primary mb-5">

          <h3>Doors</h3>
          <div>
            <h5 class="mt-5">ID:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button" [(ngModel)]="doorId"
                [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngFor="let door of doorsList"><span class="dropdown-item"
                    (click)="doorId = door.id;doorStatus = door.status">{{door.id}}</span>
                </li>
              </ul>
            </div>

            <h5 class="mt-5">Status:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                [(ngModel)]="doorStatus" [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item" (click)="doorStatus = 'open'">open</span></li>
                <li><span class="dropdown-item" (click)="doorStatus = 'close'">close</span></li>
              </ul>
            </div>

          </div>
          <button class="btn btn-primary mt-3" (click)="updateDoor()">Sense</button>
        </div>
      </div>



      <div class="col-12 col-sm-6">
        <div class="alert alert-primary mb-5">
          <h3>Windows</h3>
          <div>

            <h5 class="mt-5">ID:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                [(ngModel)]="windowId" [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngFor="let window of windowsList"><span class="dropdown-item"
                    (click)="windowId = window.id;windowStatus = window.status">{{window.id}}</span></li>
              </ul>
            </div>

            <h5 class="mt-5">Status:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                [(ngModel)]="windowStatus" [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item" (click)="windowStatus = 'open'">open</span></li>
                <li><span class="dropdown-item" (click)="windowStatus = 'close'">close</span></li>
              </ul>
            </div>

          </div>
          <button class="btn btn-primary mt-3" (click)="updateWindow()">Sense</button>
        </div>
      </div>





      <div class="col-12 col-sm-6">
        <div class="alert alert-primary mb-5">
          <h3>Battery</h3>
          <div>
            <h5 class="mt-5">Charge:</h5>
            <input type="number" value="{{Battery[0]?.status}}" class="form-control" [(ngModel)]="batteryStatus"
              (keyup)="updateBattery()">

            <h5 class="mt-5">broken:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                value="{{Battery[0]?.broken}}" [(ngModel)]="batterybroken" [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item" (click)="batterybroken= 'on'">on</span></li>
                <li><span class="dropdown-item" (click)="batterybroken= 'off'">off</span></li>
              </ul>
            </div>

            <button class="btn btn-primary mt-3" (click)="updateBatterybroken()">Sense</button>
          </div>
        </div>
      </div>








      <div class="col-12 col-sm-6">
        <div class="alert alert-primary mb-5">
          <h3>Motion</h3>
          <div>

            <h5 class="mt-5">Status:</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                value="{{motion[0]?.status}}" [(ngModel)]="motionStatus" [disabled]="true">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">choose</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item" (click)="motionStatus = 'detected'">detected</span></li>
                <li><span class="dropdown-item" (click)="motionStatus = 'not detected'">not detected</span></li>
              </ul>
            </div>

          </div>
          <button class="btn btn-primary mt-3" (click)="updateMotion()">Sense</button>
        </div>
      </div>
    </div>
  </div>























</div>
